.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.notes-field {
  margin: 100px;
  background-color: white;
  /*border: 1px solid #282c34;*/
}

.field-title {
  position: relative;
  width: 300px;
  top: 0;
}

.note-wrapper  {
  border: 0.5px solid black;
  max-width: 300px;
  min-height: 400px;
  min-width: 300px;
  margin: 15px
}

.note-wrapper .note-content {
  margin: 28px;
}

.new-note-wrapper {
  z-index: 3;
  position: absolute;
}

.add-new-note-btn {
  position: relative;

}

.round-button {
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  border: 1px solid black;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 5;
  text-decoration: none;
}


.reset-button {
  font-size: 25px;
}


.flex-container {

  display: flex;

  align-items: baseline;
  flex-wrap: wrap;
  align-content: flex-start;

  height: 100%;
  gap: 1px;

}

.flex-container > div{
  padding: 8px;
}



.new-note-wrapper  {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  background-color: white;
}

.send-button {
  position: absolute;
  margin-right: 35px;
  margin-bottom: 30px;
  right: 0;
  bottom: 0;
}

.multiline-input {
  width: 200px;
  word-wrap: break-word;
}

.delete-button {
  font-size: 25px;
  position: relative;
  right: 0;
  background-color: white;
}


.greeting-block {
  display: flex;
  align-items: center;

}